/* Tailwind CSS base, components, and utilities import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for the application */
html,
body {
  height: 100%;
  overflow: hidden; /* Prevent scrolling of the entire page */
}

.transition-colors {
  transition:
    background-color 0.3s,
    color 0.3s; /* Smooth transitions for theme changes */
}

/* Sidebar animations */
.sidebar-open {
  transform: translateX(0); /* Slide in for smaller devices */
}

.sidebar-closed {
  transform: translateX(-100%); /* Slide out for smaller devices */
}

@media (min-width: 768px) {
  /* Tablets and above */
  .sidebar-open,
  .sidebar-closed {
    transform: none; /* No animation on larger devices */
  }
}

.transition-transform {
  transition: transform 0.4s ease-in-out; /* Smooth transitions for sidebar */
}
